<% images.forEach(function(image, index) { %>
    <div style="flex: 1 1 25%; padding: 10px;">
        <img src="<%= image.path %>" alt="Image ID <%= image.id %>" style="width: 100%; height: auto;"
            data-id="<%= image.id %>">
    </div>
<% }); %>